@font-face {
    font-family: 'Montserrat';
    font-weight: 300;
    font-style: normal;
    src: url(../fonts/montserrat/Montserrat-Light.ttf);
}

@font-face {
    font-family: 'Montserrat';
    font-weight: 400;
    font-style: normal;
    src: url(../fonts/montserrat/Montserrat-Regular.ttf);
}

@font-face {
    font-family: 'Montserrat';
    font-weight: 500;
    font-style: normal;
    src: url(../fonts/montserrat/Montserrat-Medium.ttf);
}

@font-face {
    font-family: 'Montserrat';
    font-weight: 600;
    font-style: normal;
    src: url(../fonts/montserrat/Montserrat-SemiBold.ttf);
}